@import 'fonts';
header {
    width: 32.6rem;
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 0.8rem;
    margin: 0 auto;
    background-image: url(/interactive-price/images/pattern-circles.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    h1 {
        @include h1-text-mobile;
    }
    h2 {
        @include h2-text-mobile;
    }
}

@media screen and (min-width: 1440px) {
    header {
        width: 39.5rem;
        height: 14.5rem;
        h1 {
            @include h1-text-desktop;
        }
        h2 {
            @include h2-text-desktop;
            br {
                display: none;
            }
        }
    }
}